<h1>
	<%= topicHead %>
</h1>
<% for (var i = 0; i < results.length; i++) { %>
	<div class="row" style="padding-bottom: 20px;">
		<div class="col-sm-2">
			<% if (results[i].show.image) { %>
				<img height="250px" src=" <%= results[i].show.image.medium %> " >
				<% }else{ %>
					<img height="250px" src="img/no-img-portrait-text.png">
				<% } %>
		</div>
		<div class="col-sm-6" style="background-color:lavender;">
			<a href=" <%= results[i].show.url %> "><%= results[i].show.name %></a><br>
			<%= results[i].show.summary %><br>
			<a href=" <%= results[i]._links %> ">Previous episode:</a><br>
			 
			
		</div>
	</div>
	<% } %>