<h1>
	<%= topicHead %>
</h1>
<% for (var i = 0; i < results.length; i++) { %>
	<div class="row search-row">
		<div class="col-sm-2">
			<% if (results[i].show.image) { %>
				<img height="250px" src=" <%= results[i].show.image.medium %> " >
				<% }else{ %>
					<img height="250px" src="/img/no-img-portrait-text.png">
				<% } %>
		</div>
		<div class="col-sm-10" style="background-color:lavender;">
			<a href="/shows/<%= results[i].show.id %>"><%= results[i].show.name %></a><br>
			<%= results[i].show.summary %><br>
		</div>
	</div>
	<% } %>